@font-face {
  font-family: "iconfont"; /* Project id 4580024 */
  src: url('iconfont.woff2?t=1755137615008') format('woff2'),
       url('iconfont.woff?t=1755137615008') format('woff'),
       url('iconfont.ttf?t=1755137615008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note:before {
  content: "\e77f";
}

.icon-clean:before {
  content: "\e626";
}

.icon-money:before {
  content: "\e643";
}

.icon-praise:before {
  content: "\e652";
}

.icon-company:before {
  content: "\e645";
}

.icon-idea:before {
  content: "\e603";
}

.icon-report:before {
  content: "\e811";
}

.icon-coffee:before {
  content: "\e60a";
}

.icon-check-mark:before {
  content: "\e616";
}

.icon-pc:before {
  content: "\e602";
}

.icon-personalization:before {
  content: "\e7e8";
}

.icon-copyright:before {
  content: "\e66d";
}

.icon-display:before {
  content: "\e638";
}

.icon-function:before {
  content: "\e604";
}

.icon-about:before {
  content: "\e608";
}

.icon-problem:before {
  content: "\e689";
}

.icon-diannao:before {
  content: "\e615";
}

.icon-create:before {
  content: "\e69c";
}

.icon-open-file:before {
  content: "\e60c";
}

.icon-recycle-bin:before {
  content: "\e61b";
}

.icon-risk:before {
  content: "\e658";
}

.icon-show-password:before {
  content: "\e63e";
}

.icon-recovery:before {
  content: "\e6e5";
}

.icon-merge:before {
  content: "\e942";
}

.icon-cover:before {
  content: "\e70b";
}

.icon-danger:before {
  content: "\e681";
}

.icon-verify:before {
  content: "\e624";
}

.icon-recycle-bin-copy:before {
  content: "\ed4f";
}

.icon-logo:before {
  content: "\e6d9";
}

.icon-list:before {
  content: "\e663";
}

.icon-card:before {
  content: "\e65e";
}

.icon-filtration:before {
  content: "\e614";
}

.icon-favorited:before {
  content: "\e628";
}

.icon-back:before {
  content: "\ed4e";
}

.icon-dice:before {
  content: "\e63f";
}

.icon-refresh:before {
  content: "\e611";
}

.icon-peer-directory:before {
  content: "\e69a";
}

.icon-sub-directory:before {
  content: "\e69b";
}

.icon-info:before {
  content: "\e601";
}

.icon-menu:before {
  content: "\e61d";
}

.icon-exit:before {
  content: "\e651";
}

.icon-import:before {
  content: "\e60e";
}

.icon-export:before {
  content: "\e60f";
}

.icon-collect:before {
  content: "\e610";
}

.icon-download:before {
  content: "\e612";
}

.icon-setting:before {
  content: "\e613";
}

.icon-copy:before {
  content: "\e670";
}

.icon-empty:before {
  content: "\e600";
}

.icon-lock-close:before {
  content: "\e62e";
}

.icon-dark-mode:before {
  content: "\e620";
}

.icon-right-mode:before {
  content: "\e623";
}

.icon-more:before {
  content: "\e607";
}

.icon-show:before {
  content: "\e61a";
}

.icon-label:before {
  content: "\e822";
}

.icon-edit:before {
  content: "\e839";
}

.icon-delete:before {
  content: "\e83a";
}

.icon-lock:before {
  content: "\e83d";
}

.icon-hide:before {
  content: "\e83e";
}

.icon-search:before {
  content: "\e840";
}

.icon-share:before {
  content: "\e841";
}

.icon-unlock:before {
  content: "\e844";
}

